### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [126]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [127]:
total_players = purchase_data.SN.nunique()
print(f"The total number of players is {total_players}.")

The total number of players is 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
item_num = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
purchase_num = purchase_data["Purchase ID"].nunique()
tot_rev = purchase_data["Price"].sum()

In [129]:
sum_tab = pd.DataFrame({
    "Number of Unique Items": [item_num],
    "Average Price": [avg_price],
    "Number of Purchases": [purchase_num],
    "Total Revenue": [tot_rev]
})
sum_tab["Average Price"] = sum_tab["Average Price"].map("${:.2f}".format)
sum_tab["Total Revenue"] = sum_tab["Total Revenue"].map("${:,.2f}".format)
sum_tab

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [130]:
id_dedup = purchase_data.drop_duplicates(["SN"])
totals = pd.DataFrame(id_dedup["Gender"].value_counts())
percents = pd.DataFrame(id_dedup["Gender"].value_counts(normalize=True))
gd_tab = pd.DataFrame.merge(totals, percents, how = 'outer', left_index = True, right_index = True)
gd_tab.columns = ["Total Count", "Percentage of Players"]
gd_tab["Percentage of Players"] = gd_tab["Percentage of Players"].map("{:,.2%}".format)
gd_tab

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
gd_grouped = purchase_data.groupby(by = "Gender")
item_num = gd_grouped["Purchase ID"].nunique()
avg_price = gd_grouped["Price"].mean()
tot_rev = gd_grouped["Price"].sum()
avg_tot_per = gd_grouped["Price"].sum()/gd_grouped["SN"].nunique()

In [132]:
gd_sum_tab = pd.DataFrame({
    "Purchase Count": item_num,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": tot_rev,
    "Avg Total Purchase per Person": avg_tot_per
})
gd_sum_tab["Average Purchase Price"] = gd_sum_tab["Average Purchase Price"].map("${:.2f}".format)
gd_sum_tab["Total Purchase Value"] = gd_sum_tab["Total Purchase Value"].map("${:,.2f}".format)
gd_sum_tab["Avg Total Purchase per Person"] = gd_sum_tab["Avg Total Purchase per Person"].map("${:,.2f}".format)
gd_sum_tab

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [133]:
bins = range(5,55,5)
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins = bins, labels = labels, right = False, ordered = False)
id_dedup["Age Range"] = pd.cut(id_dedup["Age"], bins = bins, labels = labels, right = False, ordered = False)

<ipython-input-133-8e15fcd9d355>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_dedup["Age Range"] = pd.cut(id_dedup["Age"], bins = bins, labels = labels, right = False, ordered = False)

In [134]:
from pandas.api.types import CategoricalDtype
cat = CategoricalDtype(categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"], ordered = True)
purchase_data["Age Range"] = purchase_data["Age Range"].astype(cat)
id_dedup["Age Range"] = id_dedup["Age Range"].astype(cat)

<ipython-input-134-13351aa084d7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_dedup["Age Range"] = id_dedup["Age Range"].astype(cat)

In [135]:
totals = pd.DataFrame(id_dedup["Age Range"].value_counts(sort=False))
percents = pd.DataFrame(id_dedup["Age Range"].value_counts(normalize=True,sort=False))
gd_tab = pd.DataFrame.merge(totals, percents, how = 'outer', left_index = True, right_index = True)
gd_tab.columns = ["Total Count", "Percentage of Players"]
gd_tab["Percentage of Players"] = gd_tab["Percentage of Players"].map("{:,.2%}".format)
gd_tab

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-40           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
age_grouped = purchase_data.groupby(by = "Age Range")
item_num = age_grouped["Purchase ID"].nunique()
avg_price = age_grouped["Price"].mean()
tot_rev = age_grouped["Price"].sum()
avg_tot_per = age_grouped["Price"].sum()/age_grouped["SN"].nunique()

In [137]:
age_sum_tab = pd.DataFrame({
    "Purchase Count": item_num,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": tot_rev,
    "Avg Total Purchase per Person": avg_tot_per
})
age_sum_tab["Average Purchase Price"] = age_sum_tab["Average Purchase Price"].map("${:.2f}".format)
age_sum_tab["Total Purchase Value"] = age_sum_tab["Total Purchase Value"].map("${:,.2f}".format)
age_sum_tab["Avg Total Purchase per Person"] = age_sum_tab["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_sum_tab

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-40,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
sn_grouped = purchase_data.groupby(by = "SN")
item_num = sn_grouped["Purchase ID"].nunique()
avg_price = sn_grouped["Price"].mean()
tot_rev = sn_grouped["Price"].sum()

In [139]:
sn_sum_tab = pd.DataFrame({
    "Purchase Count": item_num,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": tot_rev
})
top = sn_sum_tab.sort_values("Total Purchase Value", ascending = False).head()
top["Average Purchase Price"] = top["Average Purchase Price"].map("${:.2f}".format)
top["Total Purchase Value"] = top["Total Purchase Value"].map("${:,.2f}".format)
top

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [140]:
pop_df = purchase_data[["Item ID", "Item Name", "Price"]]
pop_grouped = pop_df.groupby(by = ["Item ID", "Item Name"])
item_num = pop_grouped["Item Name"].count()
avg_price = pop_grouped["Price"].mean()
tot_rev = pop_grouped["Price"].sum()

In [141]:
pop_sum_tab = pd.DataFrame({
    "Purchase Count": item_num,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": tot_rev
})
top = pop_sum_tab.sort_values("Purchase Count", ascending = False).head()
top["Average Purchase Price"] = top["Average Purchase Price"].map("${:.2f}".format)
top["Total Purchase Value"] = top["Total Purchase Value"].map("${:,.2f}".format)
top

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [142]:
pop_sum_tab = pd.DataFrame({
    "Purchase Count": item_num,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": tot_rev
})
top = pop_sum_tab.sort_values("Total Purchase Value", ascending = False).head()
top["Average Purchase Price"] = top["Average Purchase Price"].map("${:.2f}".format)
top["Total Purchase Value"] = top["Total Purchase Value"].map("${:,.2f}".format)
top

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80